.navbar{
padding:0px;
margin:0px;
backgroung-color:black;
text-align:center;

}

body{
margin:0px;
background-image:url('game.jpg');
background-repeat:no-repeat;
background-position:left-bottom;
background-size:500px;
}

h1,h2,h3{
color:black;
padding:10px 10px;
text-align:center;
}



.navbar a{
float:left;	
font-style:arial;
color:black;
width:100px;
text-align:center;
margin:20px;
padding:10px;
font-size:20px;
text-decoration:none;
}

.navbar a:hover{
background-color:grey;
color:black;
width:70px;
height:30px;
}

.footer{
left:0;
bottom:0;
text-align:center;
background-color:green;
font-style:arial;
font-size:20px;
color:white;
}